@import "tailwindcss";

@layer components {
  .btn-primary {
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #cbfe00;
    color: #000000;
    padding-inline: 1rem;
    padding-block: 0.4rem;
    margin: 0.5rem;
    font-weight: 600;
    transition: filter 0.2s ease, opacity 0.2s ease;
    &:hover {
      @media (hover: hover) {
        filter: brightness(0.9);
        opacity: 0.9;
      }
    }
  }
}
